<?xml version="1.0"?>
<ruleset name="Dragon Login Security">
	<description>PHPCS ruleset for Dragon Login Security</description>
	<file>.</file>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/tests/*</exclude-pattern>
	<arg value="sp"/>
	<arg name="basepath" value="."/>
	<arg name="colors"/>
	<arg name="extensions" value="php"/>
	<config name="testVersion" value="8.0-"/>
	<rule ref="PHPCompatibilityWP"/>
	<config name="minimum_wp_version" value="6.2"/>
	<rule ref="WordPress-Extra"/>
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="dragon-login-security"/>
			</property>
		</properties>
	</rule>
</ruleset>
